/* most content of this styling file is just color, font, margin and padding
   except for footer and text over portfolio pictures, thanks for bootstrap */
*,
h3 {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/ignasi_pattern_s.png');
    color: #9C9797;
}

.navbar {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #cccccc;
}

.myname {
    padding: 15px 20px 15px 20px;
    background-color: #4aaaa5;
    color: white;
}

.maincontainer {
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 100px;
}

.maincontainer img {
    float: left;
    margin-right: 15px;
}

.aboutme {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding: 30px 0 15px 0;
}

footer { 
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    color: white;
    clear: both;
}

.column1text { /* positioning and styling for text/banner overlay on portfolio pictures */
    position: relative;
    bottom: 80px;
    left: 16px;
    color: white;
    background-color: #4aaaa5;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-right: auto;
    width: 200px;
}

.email {
    padding-left: 15px;
    width: 98%;
}

/* need some slight modifications to the header/navbar area to match expected output */
/* i'm not sure why flex-direction switches from rows to columns at this size */
@media screen and (max-width: 574px) {
    .myname {
        width: 100%;
        text-align: center;
    }
    .navbar {
        padding: 0;
        margin: 0;
    }

    /* center links */
    .container-links
    {
        width: 640px;
        text-align: center;
    }
    

}